<footer>
    <div class="container">
      <div class="row">
      
               <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
                   <ul class="adress">
                        <span>Address</span>    
                        <li>
                          <p class="tiny material-icons " style="color: aqua"> place <a class="text-white ml-3">Hazratganj, Lucknow, Uttar Pradesh.</a></p>
                        
                         </li>
                              
                         <li>
                          <p class="tiny material-icons " style="color: aqua"> phone <a class="text-white ml-3">+91 8090524640</a></p>
                         </li>
                              
                         <li>
                           <p class="tiny material-icons " style="color: aqua"> near_me <a class="text-white ml-3">kumar.aditya593@gmail.com</a></p>
                         </li>
                    </ul>
               </div>
               
               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                   <ul class="contact">
                        <span>Links</span>    
                        <li>
                       <i class="tiny material-icons " style="color: aqua"> home <a class="text-white ml-3 m" routerLink="/home" routerLinkActive="active">Home</a></i>
                           
                         </li>
                              
                         <li>
                       <i class="tiny material-icons " style="color: aqua" > person_add <a class="text-white ml-3 m" routerLink="/register" routerLinkActive="active">Register</a></i>
                            
                         </li>
                              
                         <li>
                        <i class="tiny material-icons " style="color: aqua"> person_pin <a class="text-white ml-3 m" routerLink="/login" routerLinkActive="active">Login</a></i>
                           
                         </li>
                              
                         <li>
                        <i class="tiny material-icons" style="color: aqua"> photo_library <a class="text-white ml-3 m" routerLink="/gallery" routerLinkActive="active">Posts</a></i>
                            
                         </li>
                              
                         <li>
                        <i class="tiny material-icons " style="color: aqua"> question_answer <a class="text-white ml-3 m" routerLink="/contact" routerLinkActive="active">Contact Us</a></i>
                           
                        </li>
                   </ul>
               </div>
          
               <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                  <ul class="social">
                             <span>Social</span>    
                              <li>
                                   <a href="#"><i class="fa fa-facebook"></i></a>
                              </li>
                             
                              
                               
                              <li>
                                   <a href="#"><i class="fa fa-linkedin"></i></a>
                              </li>
                              
                             
                               
                              <li>
                                   <a href="#"><i class="fa fa-twitter"></i></a>
                             </li>
                             
                    </ul>
               </div>
          
          
          </div> 
       </div>
   </footer>