<div class="bgded overlay" style="background-image:url('assets/images/png2.jpg');">
  <section class="hoc container clear">


    <section  class="section-padding wow fadeInUp delay-05s">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="service-title pad-bt15">What We Do?</h2>
            <p class="sub-title pad-bt15">Tell us more about your requirements so that we can connect you to the right Web Design and Development <br>
              website designing, SEO, wesite maintenance and other.</p>
            <hr class="bottom-line">
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service-item">
              <h3><span>D</span>esign And Developement</h3>
              <p>We design, code and modify websites, from layout to function and according to a client's specifications. Strive to create visually appealing sites that feature user-friendly 
                design and clear navigation.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service-item">
              <h3><span>W</span>ebsite Maintenance</h3>
              <p>Website maintenance is the act of regularly checking your website for issues and mistakes and keeping it updated and relevant.
                Regular monitoring of your website is a must for keeping your business running smoothly.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service-item">
              <h3><span>S</span>eo Optimization</h3>
              <p>SEO Tools to Optimize Your Website for Success in 2019. Google Search Console. 
                Google Search Console is a collection of services you can use to figure out how the search engine views your website.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service-item">
              <h3><span>D</span>igital Marketing</h3>
              <p>Digital marketing is the marketing of products or services using digital technologies, mainly on the Internet,
                 but also including mobile phones, display advertising, and any other digital medium.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>