<app-dashnav></app-dashnav>

<app-sidebar></app-sidebar>

<body>
    <div class="row">

        <div class="col-lg-3">

        </div>
        <div class="col-lg-8 mt-3">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3559.7843856753293!2d80.94247381436428!3d26.846809369388534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399bfd07c3c15643%3A0x867bb0de72c4c460!2sDigipodium!5e0!3m2!1sen!2sin!4v1557838056476!5m2!1sen!2sin"
                width="800" height="650" frameborder="0" style="border:0" allowfullscreen>
            </iframe>
        </div>
    </div>

</body>