<div>
    <div class="sidebar" data-color="black" data-image="assets/images/sidebar-2.jpg">
       
        <div class="sidebar-wrapper">
            <div class="logo ig">
                <img src="assets/images/adi.jpg" class="rounded-circle" title="Aditya">


            </div>

            <ul class="nav">
                <li >
                    <a class="text-white" routerLink="/toodoo" routerLinkActive="active">

                        <i class="pe-7s-portfolio"></i>
                        <p>Dashboard</p>
                        
                        
                    </a>
                </li>
                <li>
                    <a class="text-white" routerLink="/viewcontact" routerLinkActive="active">

                        <i class="pe-7s-user"></i>
                        <p>View Messages</p>
                    </a>
                </li>

                <li>
                    <a class="text-white" routerLink="/viewuser" routerLinkActive="active">

                        <i class="pe-7s-users"></i>
                        <p>View/Update</p>
                    </a>
                </li>
                <li>
                    <a class="text-white" routerLink="/postblog" routerLinkActive="active">

                        <i class="pe-7s-notebook"></i>
                        <p>Post Blog</p>
                    </a>
                </li>

            </ul>
            <ul class="nav">

                <li>
                    <a class="text-white" routerLink="/home" routerLinkActive="active">

                        <i class="pe-7s-home"></i>
                        <p>Home</p>
                    </a>
                </li>
            </ul>


            <ul class="nav">

                <li>
                    <a class="text-white" routerLink="/map" routerLinkActive="active">

                        <i class="pe-7s-map-marker"></i>
                        <p>Maps</p>
                    </a>
                </li>
            </ul>
            <ul class="nav">
                <li>
                    <a class="text-white" routerLink="/home" routerLinkActive="active">
                        <i class="pe-7s-rocket"></i>
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
            
        </div>
    </div>
</div>

