<div>
    <nav class="navbar navbar-expand-sm navbar-light" style="background-color:darkcyan"  >

      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav ml-auto mt-3 mt-lg-0">
        <li class="nav-item active">
          <a class="text-white active ml-3" routerLink="/toodoo" routerLinkActive="active">Dashboard</a>
        </li>
        <li class="nav-item active">
          <a class="text-white ml-3" routerLink="/viewcontact" routerLinkActive="active">View Messages</a>
        </li>
        <li class="nav-item active">
            <a class="text-white ml-3" routerLink="/viewuser" routerLinkActive="active">View/Update</a>
          </li>
        <li class="nav-item active">
          <a class="text-white active ml-3" routerLink="/postblog" routerLinkActive="active">Post Blog</a>
        </li>
        <li class="nav-item active">
          <a class="text-white active ml-3" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item active">
            <a class="text-white active ml-3" routerLink="/map" routerLinkActive="active">Map</a>
          </li>
          <li class="nav-item active">
            <a class="text-white active ml-3" routerLink="/home" routerLinkActive="active">Logout</a>
          </li>
    


      </ul>
    </div>
  </nav>
</div>
