<!-- <app-navigation></app-navigation>

<div>

    <img src="assets/images/header.jpg" height="450px" width="100%" class="img-fluid">
    

    <div class="centered text-fluid">
        <h1><b>ADITYA KUMAR</b></h1><br>
       
    </div>
    <h6 class="text text-fluid"><b>Connect with me..</b></h6>

    <div class="ficon row img-fluid">
            <a href="https://www.facebook.com" class="fa fa-facebook"></a>
            <a href="https://www.twitter.com" class="fa fa-twitter"></a>
            <a href="https://www.linkedin.com" class="fa fa-linkedin"></a>


        </div>

</div> -->


 <app-navigation></app-navigation>


<body>
    <!-- <div class="row0">
        <div id="topbar" class="hoc clear">
            <div class="fl_left">
                <div class="ficon row img-fluid">
                    <a href="https://www.facebook.com/aadiettya" class="fa fa-facebook ml-3"></a>
                    <a href="https://www.twitter.com" class="fa fa-twitter ml-3"></a>
                    <a href="https://www.linkedin.com" class="fa fa-linkedin ml-4"></a>


                </div>
            </div>
            <div class="fl_right ">
                <ul>
                    <li class="nav-item active">
                        <a class="text-white active ml-3 m" routerLink="/login" routerLinkActive="active">Login</a>
                    </li>
                    <li class="nav-item active">
                        <a class="text-white active ml-3 m" routerLink="/register"
                            routerLinkActive="active">Register</a>
                    </li>
                    <li class="nav-item active">
                        <a class="text-white active ml-3 m" routerLink="/toodoo" routerLinkActive="active">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </div> -->
    <!-- ################################################################################################ -->
    <!-- Top Background Image Wrapper -->
    <header class="intro-header bgded overlay" style="background-image:url('assets/images/banner.jpg');">
        <div class="wrapper row1">
                
            <header id="header" class="hoc clear">
                <!-- <nav id="mainav" class="fl_left">
                    <ul class="clear">
                        <li class="nav-item active">
                            <a class="text-white active ml-3 m" routerLink="/home" routerLinkActive="active">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="text-white active ml-3 m" routerLink="/gallery"
                                routerLinkActive="active">Posts</a>
                        </li>
                       
                        <li class="nav-item active">
                            <a class="text-white active ml-3 m" routerLink="/contact" routerLinkActive="active">Contact
                                Us</a>
                        </li>
                    </ul>
                </nav> -->
                <div class="lg">
                    <img src="assets/images/logo2.png" routerLink="/gallery" routerLinkActive="active"
                        class="img-fluid">
                </div>
               
               
                <!-- <div>
                    <h1 class="bl">clean blog</h1>
                    <h2 class="hl">man must explore, and this is exploration at it's greatest. </h2>
                    <h4 class="bn"><i>read our blogs and comment your views.</i></h4>
                </div>
                <div>
                    <button class="bt btn btn-info" routerLink="/gallery" routerLinkActive="active">Visit Posts</button>
                </div> -->
                <!-- ################################################################################################ -->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 col-lg-offset-2 col-md-10 col-md-offset-1">
                            <div class="page-heading">
                                <h1>Clean Blog</h1>
                                <h2>man must explore, and this is exploration at it's greatest. </h2>
                                <button class=" btn btn-info" routerLink="/gallery" routerLinkActive="active">Visit
                                    Posts</button>
                                <!-- <span class="subheading">read our blogs and comment your views.</span> -->
                            </div>
                        </div>
                    </div>
                </div>




            </header>

        </div>

    </header>
    <!-- End Top Background Image Wrapper -->
</body>

<!--aboutus-->

<section id="feature" class="section-padding wow fadeIn delay-05s">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wrap-item text-center">
                    <div class="item-img">
                        <img src="assets/images/ser01.png">
                    </div>
                    <h3 class="pad-bt15"><b>Creative Concept</b></h3>
                    <p>The fresh collection of creative UI design concepts,
                        variety of user interfaces for web sites and pages.
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wrap-item text-center">
                    <div class="item-img">
                        <img src="assets/images/ser02.png">
                    </div>
                    <h3 class="pad-bt15"><b>Amazing Design</b></h3>
                    <p>Free from the constraints of clients'
                        requirements we can create surprising, animated, interactive wonderlands to show off.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wrap-item text-center">
                    <div class="item-img">
                        <img src="assets/images/ser03.png">
                    </div>
                    <h3 class="pad-bt15"><b>Cost effective</b></h3>
                    <p>There's no reason why launching your own website should cost an arm and a leg.
                        We provide cost effective websites development services.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wrap-item text-center">
                    <div class="item-img">
                        <img src="assets/images/ser04.png">
                    </div>
                    <h3 class="pad-bt15"><b>Secure</b></h3>
                    <p> We provide NoSQL injection protection, Files upload abuse protection, e-mail injection
                        protection, User input validation, Keeping your server up to date.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--services-->

<app-sevices></app-sevices>





<!--OUR TEAM-->


<div class="bgded overlay" style="background-image:url('assets/images/leaf.jpg');">
    <section class="hoc container clear">

        <div class="site-section border-bottom" id="section-our-team">
            <div class="container">
                <div class="row justify-content-center mb-5">
                    <div class="col-md-7 text-center border-primary">
                        <h1 class="font-weight-light tm" data-aos="fade"><b><u>Our Team</u></b></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
                        <div class="person">
                            <img src="assets/images/adi.jpg" alt="Image"
                                class="img-fluid rounded mb-5 w-75 rounded-circle">
                            <h3><b>Aditya Kumar</b></h3>


                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
                        <div class="person">
                            <img src="assets/images/sir2.jpg" alt="Image"
                                class="img-fluid rounded mb-5 w-75 rounded-circle">
                            <h3><b>Shubhendra Srivastav</b></h3>


                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="300">
                        <div class="person">
                            <img src="assets/images/sameer.jpg" alt="Image"
                                class="img-fluid rounded mb-5 w-75 rounded-circle">
                            <h3><b>Sameer Ajmani</b></h3>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!--testimonial-->

<div id="fh5co-testimonial" style="background-image:url(assets/images/test.jpg);">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">

                <h1 class="text-white"><b><u>
                            Happy Clients</u></b></h1>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="box-testimony animate-box">
                    <blockquote>

                        <p>&ldquo;It's always a pleasure to work with Aditya and his team.
                            They are personable, responsive, and results-oriented.&rdquo;</p>
                    </blockquote>
                    <p class="author">John Wick, CEO<span class="subtext">Actor / Director</span>
                    </p>
                </div>

            </div>
            <div class="col-md-4">
                <div class="box-testimony animate-box">
                    <blockquote>
                        <i class="icon-quotes-right"></i>
                        <p>&ldquo;Greatest appreciation to you and your team for the outstanding job you did for us.
                            The website is just what we wanted, and we were thrilled with the speed your team exercised.
                            We feel privileged to have you as our online marketing partner!.&rdquo;</p>
                    </blockquote>
                    <p class="author">Bruce Wayne, Founder<span class="subtext">Gotham City</span>
                    </p>
                </div>


            </div>
            <div class="col-md-4">
                <div class="box-testimony animate-box">
                    <blockquote>
                        <i class="icon-quotes-right"></i>
                        <p>&ldquo;Communications is attentive, personable, and professional.
                            Aditya and his team provide great support for my company's needs.
                            Always available to answer any questions.
                            Very knowledgeable about the services they provide. Would recommend to anyone.&rdquo;</p>
                    </blockquote>
                    <p class="author">Tony Stark, Founder<span class="subtext">Avengers</span></p>
                </div>

            </div>
        </div>
    </div>
</div>







<!-- <div class="bgded overlay" style="background-image:url('assets/images/music.jpg');">
    <section class="hoc container clear">
        <div class="text-center">
            <h1 class="font-weight-light text-danger" data-aos="fade">Music</h1>
        </div>
        <div class="row">
            <div class="col-lg-5 mt-5">
                <div class="card border-dark">
                    <img src="assets/images/mp3/ayushmaan.jpg" class="img-fluid">

                    <div class="card-body bg-dark">
                        <audio src="assets/images/mp3/mitti.mp3" controls></audio>

                        <p class="text-">Mitti di khushboo </p>

                    </div>


                </div>
            </div>


            <div class="col-lg-5 mt-5">
                <div class="card border-dark">
                    <img src="assets/images/mp3/raftar.jpg" class="img-fluid">

                    <div class="card-body bg-dark">
                        <audio src="assets/images/mp3/raftar.mp3" controls></audio>

                        <p class="text-">Majnu ft.raftaar </p>

                    </div>


                </div>
            </div>
            <div class="mt-5 ml-5 arr">

                <i class="fas fa-chevron-circle-right mt-5" style="font-size:48px;color:brown"
                    title="view more albums"  routerLink="/gallery" routerLinkActive="active" ></i>

            </div>

        </div>
    </section>

</div> -->

<!-- <i class="material-icons" style="font-size:48px;color:red">cloud</i> -->

<app-footer></app-footer>